@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    font-family:'Segoe UI', Verdana, sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
}